
# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET=

# MongoDB connection string for connecting to the database
MONGODB_URL=

# Hostname of the mail server used for sending emails
MAIL_HOST=

# Username of the email account used for sending emails
MAIL_USER=

# Password of the email account used for sending emails
MAIL_PASS=

# Port Number
PORT=

# cloudinary Cloud name
CLOUD_NAME= 

# cloudinary API Key
API_KEY= 

# cloudinary API_SECRET
API_SECRET= 

# cloudinary Folder Name
FOLDER_NAME=

#RAZORPAY_KEY
RAZORPAY_KEY=

#RAZORPAY_SECRET
RAZORPAY_SECRET= 